# Copy file này sang .env.local và điền các variable tương ứng
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=

NEXT_PUBLIC_SCRIPT_URL_FEEDBACK=https://script.google.com/macros/s/AKfycbxX6JUEkyR9eo2dxVnGhA79vEw6xRZB3NC755PEbgBZI4PRh1cJJC-s1VlcdcEWRVFg5A/exec
NEXT_PUBLIC_SCRIPT_URL_COACH_SIGNUP=https://script.google.com/macros/s/AKfycbyQ8Z1VR6ou8XI6T8GuMWHdFU3tejiyFnxMVBxlNWzsPguUx-Fd4SxuNeKHm54TqLR0/exec
NEXT_PUBLIC_SCRIPT_URL_SCHEDULING=https://script.google.com/macros/s/AKfycbyGTIz4AYyaSDMtaUheMHwOGUfiAFZ-Hy9KZHxSw5UNY96fjhdzx8TEG9iwIBhJXS8y/exec

CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=
NEXT_PUBLIC_CLERK_SIGN_UP_URL=
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=

# Tự tạo tài khoản OpenAI và lấy API key
OPENAI_API_KEY=your_openai_api_key