@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}
@font-face {
  font-family: 'Inter var';
  src: url('/fonts/Inter.var.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMono.ttf') format('truetype');
}

ol {
  list-style: decimal;
  padding-left: 2rem;
}

li {
  @apply my-2
}

